@media only screen and (min-width: 1271px) and (max-width: 1500px){


    .landing-page{
  
        .container{
            width: 85%;
            min-height: 635px; 
    
            .content{
    
                .content-body{

    
                   .content1{
    
                        h1{
                            font-size: 3.7em;
                            letter-spacing: 1px;    
                        }
    
                        h2{
                            font-size: 2.5em;
                            letter-spacing: 1px;
                        }
    
                        ul{
        
                            li{
                                font-size: 1.3em;
                                letter-spacing: 1.5px;
                                line-height: 2.5rem;        
                            }
                        }
                   }

                }
            }
           
    
        }
    
    }


    .nav{
        visibility: visible;

        
        .logo-div{
            width: 20vw;
            margin: 0 26% 0 2rem;

            a{
                font-weight: 600;
                position: absolute;
                color: #fff;
                top: 1.8rem;
                left: 4rem;
                padding: 1rem;
            }
        }

        .menu-nav{
            display: block;
            transform: translateY(0);
          //  height: 100%;
            background: transparent;

            &_item{
                display: inline;
                padding-right: 1.5rem;
            }

            &_link{
                text-transform: capitalize;
                font-size: 1rem;
                padding: 1rem;
                margin-top: 1rem;

                &:hover{
                    color: #fff;
                    background: $myBlue;
                }
            }
        }
    }

    .about-page{

        @import 'menu2';
    
        .banner{
            min-height: 100vh;
        }
    
        .about-text{
            width: 100%;
        }
    
        .motivation{

            .container{
                width: 80%;
            }
        }
    
        .services{
            padding: 4rem;
        }
    
    }
    .faq-page{

        @import 'menu2';
    
        .banner{
            min-height: 400px;
    
            h2{
                top: 11rem;
                font-size: 2rem;
            }
    
            .wrapper {
                top: 9rem;
              }
              
              .container {
                padding: 5rem;
                width: 75vw;
              }

        }

            
        .questions{
            padding: 1rem 0;
        }

        .communicate{

            .content{
    
                h3{
                    padding-top: 5rem;
                    font-size: 1.6rem;
                    letter-spacing: 1.6px;
                }
                h4{
                    padding-top: 0.8rem;
                    font-size: 1.3rem;
                }
                p{
                    padding-top: 0.8rem;
                    font-size: 1rem;
                    letter-spacing: 1px;
                }
              
            }
        }
       
    }
}