@media only screen and (min-width: 698px) and (max-width: 800px){
    
    .landing-page{

        .container{

            width: 95%;
            height: 90vh;

            .content{

                .nav{
    
                    .logo {
                        top: 40px;
                        left: 50px;               
                    }
                    
                    .menu {
                        top: 25px;
                        right: 10px;
                       
                    }  
                }

                .content-body{
  
                   .content1{
                       width: 70%;
                       padding-left: 4rem;
    
                        h1{
                            font-size: 2.7em;
                            margin: 3rem -4rem 0 0rem;
    
                        }
    
                        h2{
                            margin: 0;
                            font-size: 2em;
                            padding-left: 0.5rem;
                            padding-top: 2rem;
                        }
                        hr{
                            background: #fff;
                            height: 3px;
                            margin: 0.5rem 4rem 1rem 0;
                        }
    
                        ul{
        
                            li{
                                color: #fff;
                                font-size: 1.4em;
                                letter-spacing: 2px;
                                line-height: 2.6rem;   
                                
                                .tab{
                                    display: none;
                                }
                            }
                        }
    
                        #btn{

                            margin: 3.5rem 0 0 2rem;
                        }
                   }
    
                   .content2{
    
                        img{
                            margin-top: 8rem;
                            height: 250px;
                            width: 250px;
                            margin-left: -4rem;
                        }

                        .social-icons{
                            display: flex;
                            justify-content: space-between;
                            width: 50%;
                            margin: 1rem 0 0 0.5rem;
                            
                            .fab{
                                color: #fff;
                                padding: 0.5rem;
                                transition: 1s ease;
                                font-size: 0.8rem;
                                
    
                                &:hover{
                                    color: $lightBlue;
                                    transform: scale(1.4);
                                }
                            }
                        }
                   }
                }
            }
        }
    }

    .stats{

        font-size: 1.5rem;
        margin-top: -17rem;
        min-height: 550px;
        margin-bottom: 4rem;
        
    
        .stats-container{
    
    
            .teller {
                padding-bottom: 1rem;
                width: 200px;
                height: 11rem;
                font-size: 2rem;
              }
    
              #mid{
                margin-top: -4rem;
              }
              i{
                  font-size: 3rem;
              }
              
              .label {
                  font-size: 1rem;
              }
              
        }
        
    }

    .guarantee{
        width: 100vw;
        background-size: contain;
    
    
        h3{
            margin-left: 5rem;
            padding: 0 0 0 5rem;
            font-size: 1.8em;
        }
        hr{     
            width: 20%;
            margin: 0 auto;
            height: 10px;
            margin-bottom: 2rem;
        }
        ul{
            padding-left: 3rem;
            font-size: 1.3em;
            letter-spacing: 1px;
            line-height: 2rem;
    
            li{
                margin: 1rem 0;
            }
        }
    }

    .to-faq{
        height: 500px;
        
        .content{
            height: 500px;
    
            h3{
                font-size: 2.3rem;
            }
            
            #txt1{
                padding-top: 8rem;
            }

            #btn{
                width: 25%;
                padding: 1rem;
                font-size: 1rem;
                margin-top: 4rem;

            }
 
        }
    }

    .about-page{
    
        .banner{
            min-height: 100vh;
          .text{
    
                h2{
                    font-size: 2rem;
                }

          }
        }
    
        .about-text{
            width: 100%;
            margin-top: 3rem;
    
            .img{
                width: 350px;
                height: 350px;
    
                img{
                    width: 350px;
                    height: 350px;
                }
            }
            .txt{
                width: auto;
    
                h3{
                    font-size: 2rem;
                }
                hr{
                    height: 10px;
                }
                p{
                    font-size: 1rem;
                    line-height: 1.3rem;
                }
            }
        }
    
        .motivation{
            margin-top: -1rem;
    
            h3{
                padding-top: 2rem;
                font-family: $normal;
                font-size: 2rem;
            }
    
            .container{
                width: 100%;
                padding-top: 1rem;
                padding-bottom: 4rem;
    
                .box{
                    width: 48%;
        
                    .icon{
        
                        i{
                            font-size: 2.2rem;
                        }
                    }
                    .txt{
        
                        h5{
                            font-size: 1rem;
                        }
                        p{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    
        .services{
            padding: 2rem;
            margin-bottom: 13rem;
    
            h2{
                font-size: 2rem;
            }

    
            .item{
                margin:  2rem 0;
                
                .num{
                    width: 50px;
                    height: 50px;
                    font-size: 2rem;
                }
                p{
                    font-size: 1rem;
                    left: 3.5rem;
                    top: 0.8rem;
    
                }
    
                ul{
                    top: 3rem;
                    left: 5rem;
                    font-size: 1rem;
                    line-height: 1.3rem;
                }
            }
    
            #item4{
                top: 14rem;
            }
            #item5{
                top: 14rem;
            }
        }
    
        .team-section{
    
            .header{
                font-size: 2rem;
                padding-top: 3rem;
            }
    
            .container{
                width: 100%;
                margin: 0 auto;
                padding: 2rem 0;
            }
        }

    }

    .faq-page{

        @import 'menu2';
    
        .banner{
            min-height: 400px;
    
            h2{
                top: 11rem;
                font-size: 2rem;
            }
    
            .wrapper {
                top: 9rem;
              }
              
              .container {
                padding: 5rem;
                width: 75vw;
              }

        }

            
        .questions{
            padding: 1rem 0;
        }

        .communicate{

            .content{
    
                h3{
                    padding-top: 5rem;
                    font-size: 1.6rem;
                    letter-spacing: 1.6px;
                }
                h4{
                    padding-top: 0.8rem;
                    font-size: 1.3rem;
                }
                form{
                    margin-top: 0.3rem;
      
                    label{
                      font-size: 1rem;
                      letter-spacing: 1px;

                      #myemail{
                        width: 300px;
                        line-height: 1.5rem;
                        font-size: 1rem;
                        letter-spacing: 1px;
                      }
                      #mytextarea{
                        min-height: 100px;
                        line-height: 1.5rem;
                        font-size: 1rem;
                      }
                    }
                  }
      
                  button{
                      padding: 0.6rem 1.8rem;
                      margin-top: 1.5rem;
                      font-size: 0.8rem;
                  }
            }
        }
       
    }
}